<li><%= @restaurant.name %></li>
    <li><%= @restaurant.address  %></li>
    <li><%= @restaurant.phone_number %></li>
    <%= link_to  "add review" , new_restaurant_review_path(@restaurant) %>


<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
    <li class="list-group-item"><%= review.rating %></li>
    <%= link_to "Delete",
    review_path(review),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>

</li>
  <% end %>
</ul>
<br>
